* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

span {
    color: #5553B7;
    font-weight: 600;
}

.header {
    display: flex;
    margin: 20px;
    padding: 20px;
    /* background-color: rgb(201, 140, 140); */
}

.bar {
    height: 35vh;
    width: 3px;
    background-color: black;

}

.parent {
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: blanchedalmond; */
}

.left {
    flex-direction: column;
    border-width: 3px 3px 3px 0;
    height: 30vh;
    width: 50vw;
    border-style: solid;
    border-color: #2DD35C;
    border-top-right-radius: 30vw;
    border-bottom-right-radius: 2vw;
    z-index: 10;

}

.container {
    padding: 5% 0 0 10%;
    width: 35vw;
    /* background-color: #2DD35C; */
}

.heading {
    padding-bottom: 2vh;
    font-size: 2.5rem;
    font-weight: 400;
    /* background-color: aquamarine; */
}

.right {
    width: 30vw;
    height: 7vw;
    border-top-left-radius: 30vw;
    border-bottom-left-radius: 2vw;
    background-color: #deadf7;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    margin: 5vw 0 0 -20vw;
}

.one {
    padding: .5vw;
    font-weight: 500;
    color: white;
    border-radius: 2vw;
    background-color: #2DD35C;
    border: none;
}

.second {
    padding: .5vw;
    font-weight: 500;
    color: #5553B7;
    border-radius: 2vw;
    background-color: white;
    border: 2px solid #5553B7;

}